.font-bold {
    font-weight: bold;
}
.inicial-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicial-container a {
  align-self: flex-start; /* Esto coloca la etiqueta 'a' en la esquina izquierda */
  border: 2px solid black;
  padding: 8px;
  margin: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}
.opciones-container{

    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 15pt;
    color: rgb(28, 153, 198);
}
.box-container {
    border: 1px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 30%;
    height: 100%;
}
.video-container {
    padding-bottom: 10px;
}
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.image-wrapper {
    position: relative;
    height: 100%;
    width: 90%;
    background-color: antiquewhite;
}

.inv_t1{
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 15%;
    left: 29%;
    font-size: 16pt;
    line-height: 1;
}

  .inv_t2{
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 42.5%;
    left: 16%;
    font-size: 14pt;
    line-height: 1;
  }

  .inv_t3{
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 42.5%;
    left: 76%;
    font-size: 14pt;
    line-height: 1;
  }

  .inv_t4{
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 64%;
    left: 38%;
    font-size: 14pt;
    line-height: 1;
  }

  .inv_t5{
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 85%;
    left: 46%;
    font-size: 14pt;
    line-height: 1;
  }
  .inv_t6{
    text-align: center;
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 24%;
    left: 39%;
    font-style: italic;
    font-size: 22pt;
    color: rgb(79, 72, 72);
  }
  .inv_t7{
    text-align: center;
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 89%;
    left: 45%;
    font-style: italic;
    font-size: 18pt;
    color: rgb(79, 72, 72);
  }
  .inv-f1{
    position: absolute;
    top: 35%;
    left: 38%;
  }

  .inv-f2_1{
    position: absolute;
    bottom: 0%; 
    left: 0%;
  }
  .inv-f2_2{
    position: absolute;
    bottom: 0%; 
    right: 0%;
  }

  .inv-f3{
    position: absolute;
    top: 0%; 
    left: 0%;
  }
  .inv-f4{
    position: absolute;
    top: 0%; 
    right: 0%;
  }
 
  .timer-container {
  width: 50%;
  text-align: center;
}
.aciertosErrores {
  width: 100%;
  font-weight: bold;
}
.txt-Ai{
    margin-top: 10px;
}
  #timer {
    font-weight: bold;
    font-size: 1.3em;
    
  }
   
   
    .input_txt {
      
      position: absolute;
      align-items: center;
      font-weight: bold;
      justify-content: center;
      text-align: center;
      padding: 3px;
      font-size: 11pt;
      font-family: "Comic Sans MS", cursive;
      border: 2px dashed gray;
      min-width: 65px;
      min-height: 38px;
    }
    .input_txt.initial {
      background-color: white !important;
    }
    .input_txt.has-content {
      background-color: rgb(224, 227, 224);
    }
    .input_txt.correct {
      background-color: rgb(1, 163, 1);
      color: white;
    }
    .input_txt.incorrect {
      background-color: red;
      color: white;
    }

    .input_txt.incorrect::placeholder {
        background-color: red;
        color: red;
      }